
<div class="deck-editor" *ngIf="!deckEditorOpened">
  <ion-grid>
    <ion-row>
      <ion-col col-3 text-center class="vertical-align-container">
        <div class="elixir-icon-container vertical-align-container">
          {{deck.stats.getMeanElixirCost(deck).toFixed(1)}}
          <ion-icon class="elixir-icon" name="water"></ion-icon>
        </div>
      </ion-col>
      <ion-col col-7 text-center>
        <button ion-button color="light" round (click)="onStatsDisplayEmitter()">
          <ion-icon name="stats"> Verificar </ion-icon>
        </button>
      </ion-col>
      <ion-col col-2 text-center>
        <button ion-button color="light" clear (click)="openCloseDeckEditor()">
          <ion-icon name="arrow-down"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>


<div class="deck-editor" *ngIf="deckEditorOpened">
  <ion-grid>
    <ion-row>
      <ion-col text-center col-3 *ngFor="let card of deck.cards">
        <cr-card-item
          [card]="card"
          (press)="onRandomCardSwitchEmitter(card)"
          (click)="onDeckCardSelectedEmitter(card)">
        </cr-card-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-3 text-center class="vertical-align-container">
        <div class="elixir-icon-container vertical-align-container">
          {{ deck.stats.getMeanElixirCost(deck).toFixed(1) }}
          <ion-icon class="elixir-icon" name="water"></ion-icon>
        </div>
      </ion-col>
      <ion-col col-5 text-center>
        <button ion-button color="light" round (click)="onStatsDisplayEmitter()">
          <ion-icon name="stats"> Verificar </ion-icon>
        </button>
      </ion-col>
      <ion-col col-2 text-center>
        <button ion-button color="light" clear
                (click)="onNextRandomCardEmitter()"
                (press)="onDeckRandomGenerateEmitter()">
          <ion-icon name="shuffle"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-2 text-center>
        <button ion-button color="light" clear (click)="openCloseDeckEditor()">
          <ion-icon name="arrow-up"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
