<!-- Generated template for the CrDeckListComponent component -->
<ion-searchbar (ionInput)="searchDecks($event)" placeholder="Nombre del mazo"></ion-searchbar>
<ion-list>
  <ion-item-sliding *ngFor="let deck of filteredDeckList">
    <ion-item>
      <cr-deck-row
        [deck]="deck"
        (click)="onSelectDeckEmitter(deck)">
      </cr-deck-row>
    </ion-item>
    <ion-item-options side="right">
      <button ion-button large color="primary"
        (click)="onEditDeckEmitter(deck)">
        <ion-icon name="create"></ion-icon>
      </button>
      <button ion-button large color="danger"
        (click)="onDeleteDeckEmitter(deck)">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>
