<!-- Generated template for the CrDeckFormComponent component -->
<div class="deck-form">
  <ion-grid>
    <ion-row>
      <ion-col text-center col-8>
        <ion-item>
          <ion-label color="primary">Nombre</ion-label>
          <ion-input placeholder="Mazo de guerra" [(ngModel)]="deck.name"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col text-center col-2>
        <button ion-button large clear (click)="saveDeckEmitter()">
          <ion-icon name="checkmark-circle"></ion-icon>
        </button>
      </ion-col>
      <ion-col text-center col-2>
        <button ion-button large clear color="danger" (click)="deleteDeckEmitter()">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
