<!--
  Generated template for the CrEditorPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Editor de Mazos</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <div class="sticky">
    <cr-deck-form
      [deck]="deck"
      (onDeckSaveEvent)="saveDeck($event)"
      (onDeckDeleteEvent)="deleteDeck($event)">
    </cr-deck-form>
    <cr-deck-editor
      [deck]="deck"
      (onRandomCardSwitchEvent)="switchCardByRandom($event)"
      (onDeckCardSelectedEvent)="deselectCard($event)"
      (onNextRandomCardEvent)="takeNextRandomCard()"
      (onDeckRandomGenerateEvent)="generateRandomDeck()"
      (onStatsDisplayEvent)="openStatsModal($event)">
    </cr-deck-editor>
  </div>
  <div>
    <cr-card-list
      [cardList]="cardList"
      (onCardListSelectedEvent)="selectCard($event)">
    </cr-card-list>
  </div>
</ion-content>
