<ion-header>
  <ion-navbar>
    <ion-title>
      Clash Royale Deck Maker
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <cr-deck-list
    [deckList]="deckList"
    (onSelectDeckEvent)="goDetails($event)"
    (onEditDeckEvent)="goEditor($event)"
    (onDeleteDeckEvent)="deleteDeck($event)">
  </cr-deck-list>

  <ion-fab right bottom>
    <button ion-fab color="dark"
            (click)="goEditor(-1)"
            (press)="copyDeck()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
