<!-- Generated template for the CrCardListComponent component -->
<div class="card-list">
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <ion-item>
          <ion-label>Orden</ion-label>
          <ion-select [(ngModel)]="sortMode">
            <ion-option value="rarity">Calidad</ion-option>
            <ion-option value="irarity">Calidad invertida</ion-option>
            <ion-option value="elixir">Elixir</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center col-3 *ngFor="let card of sortedCardList()">
        <cr-card-item
          [card]="card"
          (click)="onCardListSelectedEmitter(card)">
        </cr-card-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
