<!--
  Generated template for the CrDeckDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Detalles</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <div class="deck-details sticky">
    <ion-grid>
      <ion-row>
        <ion-col text-center col-3 *ngFor="let card of deck.cards">
          <cr-card-item
            [card]="card">
          </cr-card-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="bottom-padding-container">
    <ion-card>
      <ion-card-header>
        Coste del mazo - {{deck.stats.getMeanElixirCost(deck).toFixed(1)}}
      </ion-card-header>
      <ion-card-content>
        <canvas #ElixirCanvas></canvas>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Proporción del mazo
      </ion-card-header>
      <ion-card-content>
        <canvas #CardTypeCanvas></canvas>
      </ion-card-content>
    </ion-card>

    <ion-list>
      <ion-item>
        Win condition
        <ion-icon color="secondary" *ngIf="checkList?.winCond" name="radio-button-on" item-end></ion-icon>
        <ion-icon color="danger" *ngIf="!checkList?.winCond" name="radio-button-on" item-end></ion-icon>
      </ion-item>
      <ion-item>
        Tropas terrestres
        <ion-icon color="secondary" *ngIf="checkList?.groundTroops" name="radio-button-on" item-end></ion-icon>
        <ion-icon color="danger" *ngIf="!checkList?.groundTroops" name="radio-button-on" item-end></ion-icon>
      </ion-item>
      <ion-item>
        Tropas aereas
        <ion-icon color="secondary" *ngIf="checkList?.airTroops" name="radio-button-on" item-end></ion-icon>
        <ion-icon color="danger" *ngIf="!checkList?.airTroops" name="radio-button-on" item-end></ion-icon>
      </ion-item>
      <ion-item>
        Tropas terrestres (tanque)
        <ion-icon color="secondary" *ngIf="checkList?.groundTankTroops" name="radio-button-on" item-end></ion-icon>
        <ion-icon color="danger" *ngIf="!checkList?.groundTankTroops" name="radio-button-on" item-end></ion-icon>
      </ion-item>
      <ion-item>
        Tropas terrestres (spam)
        <ion-icon color="secondary" *ngIf="checkList?.groundSpamTroops" name="radio-button-on" item-end></ion-icon>
        <ion-icon color="danger" *ngIf="!checkList?.groundSpamTroops" name="radio-button-on" item-end></ion-icon>
      </ion-item>
      <ion-item>
        Tropas aereas (tanque)
        <ion-icon color="secondary" *ngIf="checkList?.airTankTroops" name="radio-button-on" item-end></ion-icon>
        <ion-icon color="danger" *ngIf="!checkList?.airTankTroops" name="radio-button-on" item-end></ion-icon>
      </ion-item>
      <ion-item>
        Tropas aereas (spam)
        <ion-icon color="secondary" *ngIf="checkList?.airSpamTroops" name="radio-button-on" item-end></ion-icon>
        <ion-icon color="danger" *ngIf="!checkList?.airSpamTroops" name="radio-button-on" item-end></ion-icon>
      </ion-item>
      <ion-item>
        Daño (aereo)
        <ion-icon color="secondary" *ngIf="checkList?.airDmg" name="radio-button-on" item-end></ion-icon>
        <ion-icon color="danger" *ngIf="!checkList?.airDmg" name="radio-button-on" item-end></ion-icon>
      </ion-item>
      <ion-item>
        Daño de area
        <ion-icon color="secondary" *ngIf="checkList?.areaDmg" name="radio-button-on" item-end></ion-icon>
        <ion-icon color="danger" *ngIf="!checkList?.areaDmg" name="radio-button-on" item-end></ion-icon>
      </ion-item>
      <ion-item>
        Daño de area (aereo)
        <ion-icon color="secondary" *ngIf="checkList?.airAreaDmg" name="radio-button-on" item-end></ion-icon>
        <ion-icon color="danger" *ngIf="!checkList?.airAreaDmg" name="radio-button-on" item-end></ion-icon>
      </ion-item>
      <ion-item>
        Estructuras
        <ion-icon color="secondary" *ngIf="checkList?.buildings" name="radio-button-on" item-end></ion-icon>
        <ion-icon color="danger" *ngIf="!checkList?.buildings" name="radio-button-on" item-end></ion-icon>
      </ion-item>
      <ion-item>
        Hechizos
        <ion-icon color="secondary" *ngIf="checkList?.spells" name="radio-button-on" item-end></ion-icon>
        <ion-icon color="danger" *ngIf="!checkList?.spells" name="radio-button-on" item-end></ion-icon>
      </ion-item>
      <ion-item>
        Hechizos Fuertes
        <ion-icon color="secondary" *ngIf="checkList?.strongSpells" name="radio-button-on" item-end></ion-icon>
        <ion-icon color="danger" *ngIf="!checkList?.strongSpells" name="radio-button-on" item-end></ion-icon>
      </ion-item>
    </ion-list>
  </div>

  <ion-fab right bottom>
    <button ion-fab color="dark"><ion-icon name="arrow-up"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab color="primary" (click)="goEditor(deck)">
        <ion-icon name="create"></ion-icon>
      </button>
      <button ion-fab color="danger" (click)="deleteDeck(deck)">
        <ion-icon name="trash"></ion-icon>
      </button>
      <button ion-fab color="secondary" (click)="shareDeck(deck)">
        <ion-icon name="share-alt"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
