// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.sticky {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.bottom-padding-container {
  padding-bottom: 20%;
}

.vertical-align-container {
  display: flex !important;
  vertical-align: middle !important;
  justify-content: center !important;
  align-items: center !important;
}

.elixir-icon-container {
  font-size: 1.5em !important;
  color: white;
}

.elixir-icon {
  font-size: 1.2em !important;
  color: #FF32FF;
  padding-right: 0.2em;
  padding-left: 0.2em;
}

.deck-form {
  max-height: 1% !important;
  background-color: white;
}

.deck-editor {
  background-image: url("../assets/imgs/wood.jpg");
  max-height: 10% !important;
}

.card-list {
  background-image: url("../assets/imgs/blue.jpg");
}

.deck-details {
  background-image: url("../assets/imgs/wood.jpg");
}

.stats {
  background-image: url("../assets/imgs/blue.jpg");
}

.ion-slide-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
