<ion-grid>
  <ion-row>
    <ion-col text-center col-1.5 *ngFor="let card of deck.cards">
      <cr-card-item
        [card]="card">
      </cr-card-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-8>
      {{deck.name}}
    </ion-col>
    <ion-col col-4>
      {{deck.stats.getMeanElixirCost(deck).toFixed(1)}}
    </ion-col>
  </ion-row>
</ion-grid>
