<ion-header>

  <ion-navbar>
    <ion-title>Estadísticas</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-card>
    <ion-list>
      <ion-item>
        Número de mazos
        <ion-badge item-end>{{deckCount}}</ion-badge>
      </ion-item>
      <ion-item>
        Coste Promedio
        <ion-badge item-end>{{elixirCostMean.toFixed(1)}}</ion-badge>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-slides #slides>
    <ion-slide *ngFor="let maxUsedCard of maxUsedCards; let i = index" class="ion-slide-container"
               (click)="nextSlide()"
               (change)="slideChanged()">
      <ion-card>
        <ion-grid>
          <ion-row text-center>
            <ion-col col-12>
              <h1>Carta más usada ({{i + 1}}/{{maxUsedCards.length}})</h1>
            </ion-col>
          </ion-row>
          <ion-row text-center>
            <ion-col col-12>
              <h1>{{maxUsedCard.name}} </h1>
            </ion-col>
          </ion-row>
          <ion-row text-center>
            <ion-col col-3></ion-col>
            <ion-col col-6>
              <img [src]="maxUsedCard.imageUrl"/>
            </ion-col>
            <ion-col col-3></ion-col>
          </ion-row>
          <ion-row text-center>
            <ion-col col-6>
              <p>Calidad: {{maxUsedCard.rarity}}</p>
            </ion-col>
            <ion-col col-6>
              <p>Tipo: {{maxUsedCard.type}}</p>
            </ion-col>
            <ion-col col-6>
              <p>Coste: {{maxUsedCard.elixir}}</p>
            </ion-col>
            <ion-col col-6>
              <p>Arena: {{maxUsedCard.arena}}</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-slide>
  </ion-slides>

</ion-content>
